<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card-content class="text-grey">
      <h2>A segurança é com a gente, a satisfação é sua</h2>
      <p>Com sede na Espanha, o Santander conta com a credibilidade de um dos maiores e mais importantes bancos do
        mundo.</p>
      <p>Eleito o melhor do Brasil e América Latina.</p>
    </mat-card-content>

  </mat-grid-tile>


  <mat-grid-tile class="image-banco">
    <img src="./assets/images/santander-banco.webp">
  </mat-grid-tile>

  <mat-grid-tile class="image-woman">
    <img src="./assets/images/final2.jpg">
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card-content class="text-red">
      <p>Abra sua conta online</p>
      <h2>Faça como milhares de brasileiros e escolha o Santander</h2>

      <div class="d-flex flex-column flex-md-row lead mb-3">
        <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Digite seu cpf">
      </div>
      <button type="submit" class="btn btn-danger mb-2">Abra já a sua conta</button>
    </mat-card-content>
  </mat-grid-tile>

</mat-grid-list>
