<div class="container d-flex justify-content center">
  <div class="card" style="width: 25rem;">
    <img src="./assets/images/celularConta.png" class="card-img-top" alt="...">
    <div class="card-body">
    </div>
  </div>
  <div class="card" style="width: 48rem;">
    <div class="card-body">
      <ul>
      <h2 class="card-text">Abra a sua conta onde estiver e já comece a usar:</h2>

      <li><h5><b>É prático:</b> digite seu CPF,preencha seus dados e escolha o pacote de serviços ideal; </h5></li>
      <li><h5><b>É rápido:</b> tire uma selfie e escolha nossas ofertas;</h5></li>
      <li><h5><b>É seguro:</b> tire uma foto da frente e verso do seu RG ou CNH.</h5></li>
      <li><h5><b>Leva só alguns minutos!</b></h5></li>
      <p>E o melhor: durante o pedido de abertura, voc:e pode configurar a senha e já começar a movimentar sua conta! Ainda tem dúvidas? <a href="https://www.santander.com.br/conta-corrente-pessoa-fisica">Clique aqui</a></p>
    </ul>
    </div>
  </div>

</div>
