<footer>

  <div class="container py-5">
      <div class="row d-flex align-items-center">


          <div class="endereco col-12 col-lg-4">
            <span class="mb-3 mb-md-0 text-muted">&copy; 2022 Denise Melo</span>
          </div>

          <div class="redes-sociais col-12 col-lg-4">
            <span class="mb-3 mb-md-0 text-muted">Contato</span>

              <div class="container-redes d-flex gap-3">
                <a href="#" target="_blank" class="icon-github"><i class="fab fa-github"></i></a>
                <a href="#" target="_blank" class="icon-linkedin"><i class="fab fa-linkedin"></i></a>
                  <a href="melodenise.ti@gmail.com" class="icon-mail"><i class="fas fa-envelope"></i></a>

              </div>
          </div>

          <div class="sobre col-12 col-lg-4">
            <span class="mb-3 mb-md-0 text-muted">
              Bootcamp Santander e Digital Inovation One
            </span>

          </div>
      </div>
  </div>
</footer>









