
<div class="text-center mt-5">
  <h5 class="display-6 fw-normal">Confira nossos principais pacotes de serviços</h5>
</div>
<div class="container">
  <div class="card" style="width: 36rem;">
    <div class="card-body">
      <h4 class="card-title text-center">Conta Confia</h4>
      <h1 class=" pricing-card-title">R$0,00<small class="text-muted fw-light">/mês</small></h1>
      <hr>
      <p class="card-text"><span class="material-icons">check_circle</span>TARIFA ZERO recebendo R$ 1.000 mensais no
        Santander e realizando pagamento de contas todo mês pelos canais digitais</p>
      <p class="card-text"><span class="material-icons">check_circle</span>Saques no caixa eletrônico ilimitados</p>
      <p class="card-text"><span class="material-icons">check_circle</span>DOC e TEDs ilimitados</p>
      <button class="btn btn-primary">Exclusivo Digital</button>

    </div>
  </div>
  <div class="card" style="width: 36rem;">
    <div class="card-body">
      <h4 class="card-title text-center">Personalizado 3 </h4>
      <h1 class=" pricing-card-title">R$75,40<small class="text-muted fw-light">/mês</small></h1>
      <hr>
      <p class="card-text"><span class="material-icons">check_circle</span>10 saques por mês</p>
      <p class="card-text"><span class="material-icons">check_circle</span>2 DOC ou TED mensais</p>
      <p class="card-text"><span class="material-icons">check_circle</span>Cartão SX com anuidade zero ao cadastrar seu
        celular e CPF como chaves Pix ou ao gastar R$ 100 em compras por fatura</p>
      <p class="card-text"> <span class="material-icons">check_circle</span>50% de desconto para universitários</p>
    </div>
  </div>
  <div class="card" style="width: 36rem;">
    <div class="card-body">
      <h4 class="card-title text-center"> Van Gogh Plus</h4>
      <h1 class=" pricing-card-title">R$75,40<small class="text-muted fw-light">/mês</small></h1>
      <hr>
      <p class="card-text"><span class="material-icons">check_circle</span>3 meses grátis no pacote de serviços +50% OFF
        na anuidade do Cartão 1|2|3</p>
      <p class="card-text"><span class="material-icons">check_circle</span>Saques no caixa eletrônico ilimitados</p>
      <p class="card-text"><span class="material-icons">check_circle</span>DOC e TEDs ilimitados</p>
      <p class="card-text"> <span class="material-icons">check_circle</span>Cartão 1|2|3 livre de anuidade ao gastar R$
        1.000 em compras por fatura</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="card" id="backgroundRed">
    <div class="card-body p-5">
      <h5 class="card-title text-center"> Sobre os valores dos nossos pacotes</h5>
      <h2 class = "big text-center">Você conta com diversas opções de pacotes de serviços para escolher a que mais combina com as suas
        necessidades,incluindo o Pacote de Serviços Essenciais gratuito.</h2>
    </div>
  </div>
</div>
