<figure class="figure">
  <img src="./assets/images/banner1.jpg" alt="" />
  <div class="container-texto">
    <h1>Você pode ter anuidade ZERO no cartão e conta gratuita</h1>
    <h2>Em poucos cliques e sem a necessidade de comprovar renda! Peça já!</h2>

    <div class="d-flex flex-column flex-md-row lead mb-3">
      <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Digite su cpf">
      <button type="submit" class="btn btn-danger mb-2">Abra já a sua conta</button>
    </div>

  </div>
</figure>
