<nav class="navbar navbar-expand-lg " id="background">
  <div class="container">

    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <img   class="img responsive  " width="200" height="100"  src="./assets/images/logo.png" alt="Logo Santander">
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
     <a class="me-3 py-5 text-decoration-none" href="#">
      <button type="button" class="btn btn-lg btn-danger" id = "color-red">Abra já a sua conta</button>
    </a>
    </nav>
  </div>
</nav>

